@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Sancreek&display=swap');

* {
    box-sizing: border-box;
}
/* Styling that is universal through each screen displayed */
body {
	background-color: #fff;
    font-family: 'Sancreek', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    margin: 0 ;
    overflow: hidden;
    cursor: pointer;

}
span {
    text-shadow: 2px 2px 2px #CE5937;
}

/* Styling for both initial screen and the score screen */
.popupScreen {
    width: 100vw;
    height: 100vh;
    max-width: 500px;
    max-height: 700px;
    background-color: #edd7bd;
    border: 10px solid #D45A4d;
    border-radius: 5%;
    display: flex;
    position: absolute;
    text-align: center;
    opacity: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 3;
}
.visible {
    visibility: visible;
}
.hiddenscore {
    visibility: hidden;
}
/* Initial Screen Styling */
.signature {
    font-size: x-small;
    position: absolute;
    bottom: 0%;
}
.instructions {
    height: 80px;
    width: 80px;
    bottom: 20px;
    left: 40%;
}
.targetstart {
    height: 80px;
    width: 80px;
    left: 40%;
}
p {
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    padding: 0px;
}

/* Header Background image used on all screens */
.header {
    width: 100%;
    height: 110px;
    background-image: url(../media/carnivalbackground.png) ;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* tstyle also being used to style the targets */
.tstyle {
    border-radius: 50%;
    border: 1px solid black;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;  
    background-image: url(../media/targetshooting.jpeg) ;
    background-color: white;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: contain;
    box-shadow: 2px 1px 1px 1px #000000;    
}

/* Game Screen Styling within shooting area*/
.container {
    width: 371px;
    height: 300px;
    top: 0;
    background-color: #ff0000;
    color: #f00;
    opacity: 0.8;
    background-image: linear-gradient(to right, #fff, #fff 20px, #ff0000 20px, #ff0000 );
    background-size: 40px 100%;
    cursor: crosshair;
    z-index: 1;}

.levels {
    width: 500px;
    border: 10px solid rgb(95, 50, 20);
    border-radius: 10px;
    position: relative;
    bottom: 0px;
    width: 101%; 
    box-shadow: inset 3px 3px 1px 3px #301111;
}
#frontrow {
    height: 120px;
    z-index: 4;
    bottom: -180px;
}
#middlerow {
    height: 210px;
    z-index: 3;
    bottom: 30px;
}
#rearrow {
    height: 300px;
    z-index: 2;
    bottom: 330px;
}
#targetone {
    height: 80px;
    width: 80px;
    bottom: 0px;
    left: 134px;
    z-index: 20;
}
#targettwo {
    height: 60px;
    width: 60px;
    bottom: 110px;
    left: 144px;
    z-index: 15;
}
#targetthree {
    height: 40px;
    width: 40px;
    bottom: 200px;
    left: 154px;
    z-index: 10;
}
#targetone.active, #targettwo.active, #targetthree.active{
    transition: height 0.1s ease;
    height: 2px;
}
.centertarget {
    height: 21%;
    width: 21%;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    z-index: 10;
}
/* Starts the target change */
.active {
    transition: all 1000ms ease-in-out;
}

/* Game Screen styling above shooting area */
h1 {
    font-size: 24px;
}

h2 {
    font-family: 'Sancreek', cursive;
	font-size: 65px;    
}
h2.hit {
    font-size: 70px;
    transition: all 0.1s ease-in-out;
}
h2#score {
    margin: 20px 0 15px;
    position: relative;
    left: -80px;
    text-shadow:  2px 2px 2px maroon;
}
h2#perfectScore {
    margin: 20px 0 10px;
    position: relative;
    left: -35px;
    font-size: 55px;
    color: #f00;
}
p.perfect {
    font-size: 18px;
    font-family: 'Sancreek', cursive;
    margin: 0px;
    position: relative;
    left: -110px;
    top: 97px;
}
h3 {
    font-size: 30px;
    text-shadow: 2px 2px 2px #CE5937;
}
h4 {
    font-family: 'Sancreek', cursive;
    font-size: 20px;
    margin: 5px;
    text-transform: uppercase;
    top: 90px;
    position: absolute;
    left: 170px;
}
#flexbox {
    top: 50px;
    display: flex;
    flex-direction: row;
}
.counter {
    position: fixed;
    text-align: center;
    height: 140px;
}
.counter.hide {
    transform: scale(0);
    animation: hide 0.2s ease-out;
}
@keyframes hide {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
.final {
    position: relative;
    transform: scale(0);
    text-align: center;
} 
.final.show {
    transform: scale(1);
    animation: show 0.2s ease-out;
}
@keyframes show {
    0% {
    transform: scale(0);
    }
    30% {
    transform: scale(1.4);
    }
    100% {
    transform: scale(1);
    }
}  
.nums {
    color: #ff0000;
    font-size: 50px;
    position: absolute;
    overflow: hidden;
    width: 250px;
    height: 50px;
    top: 35px;
    left: 90px;
} 
.nums span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(150deg);
    transform-origin: bottom center;
} 
.nums span.in {
    transform: translate(-50%, -50%) rotate(0deg);
    animation: goIn 0.5s ease-in-out;
}  
.nums span.out {
    animation: goOut 0.5s ease-in-out;
}
@keyframes goIn {
    0% {
    transform: translate(-50%, -50%) rotate(150deg);
    } 
    30% {
    transform: translate(-50%, -50%) rotate(-20deg);
    }
    60% {
    transform: translate(-50%, -50%) rotate(10deg);
    }
    100% {
    transform: translate(-50%, -50%) rotate(0deg);
    }
}  
@keyframes goOut {
    0% {
    transform: translate(-50%, -50%) rotate(0deg);
    }
    60% {
    transform: translate(-50%, -50%) rotate(20deg);
    }
    100% {
    transform: translate(-50%, -50%) rotate(-200deg);
    }
} 
/* Score screen styling */ 
#scorescreen { 
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 
#gameScore {
    font-size: 40px;
    color: red;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}
#replay {
    background-color: #3498db;
    border-radius: 3px;
    border: none;
    color: aliceblue;
    padding: 5px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    margin: 10px;
} 
#replay span{
    cursor: pointer;
    display: inline-block;
    position: relative;
} 
#replay span:after{
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
} 
#replay:hover span{
    padding-right: 25px;
}
#replay:hover span:after{
    opacity: 0;
    right: 0;
}

/*---Bullet hole fire--*/
.container .circle {
    position: absolute;
    background-color: rgb(58, 58, 58);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    transform: scale(2);
    animation: scale 0.8s ease-out;
    cursor:crosshair;
}
span.circle {
    position: absolute;
    background-color: rgb(58, 58, 58);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(2);
    animation: scale 0.8s ease-out;
    cursor:crosshair;
}
@keyframes scale {
    to {
        transform: translate(-50%, -50%) scale(0);
        opacity: 0.5;
    }
}